html, body {
    height: 100%;
    margin: 0;
}

.vjs-tech {
  object-fit: cover;
}

#mute {
  background-color: rgb(242, 3, 48);
}

#hideVideo {
  background-color: rgb(234, 0, 255);
}

#fullViewVideo {
  background-color: rgb(210, 0, 230);
}

#discord {
  background-color: rgb(187, 0, 204);
}

#pastShows {
  background-color: rgb(164, 0, 179);
}

#hideButtons {
  background-color: rgb(133, 0, 145);
}

#showButtons {
  background-color: rgb(164, 0, 179);
  border-radius: 100%;
  width: 40px;
  display: none;
}

#videoStream {
    width: 100vw;
    height: 100%;
    min-height: -moz-available; /* WebKit-based browsers will ignore this. */
    min-height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    min-height: fill-available;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    overflow : hidden;
}

#gplayer {
    width: 100vw;
    height: 100%;
    min-height: -moz-available; /* WebKit-based browsers will ignore this. */
    min-height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    min-height: fill-available;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    overflow : hidden;
}

#audioStream {
  display: none;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
  
/*
.box .row {
  border: 1px dotted grey;
}
*/

.box .row.content {
  flex: 1 1 auto;
}
  
.box .row.footer {
  flex: 0 1 40px;
}

a {
  text-decoration: none;
}

button {
  position: relative;
  background-color: rgb(236, 24, 255);
  border: none;
  font-size: 24px;
  color: #FFFFFF;
  padding: 5px;
  width: 220px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

button:hover {
  background-color: rgb(215, 22, 233);
}

button:after {
  content: "";
  background: rgb(160, 17, 173);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

@media screen and (max-width: 666px) {
  button {
    width: 100vw;
  }
}