@import url(//fonts.googleapis.com/css2?family=Sarpanch:wght@900&display=swap);

* {
	font-family: 'Sarpanch', Verdana, sans-serif;
	color: white;
}

html {
  background-image: url("/assets/ua5splash.png");
  background-color: black;
  background-position: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-size: contain;*/
  background-repeat: no-repeat;
  /*overflow: hidden;*/
}

body {
  height: 100vh;
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
	align-items: center;
  justify-content: center;
}

.container {
  min-width: 0;
  width: 90vw;
  margin: 0 auto;
  overflow: auto;
}

@media screen and (max-height: 672) {
  .html {
    height: 100%;
  }
  .main {
    flex-wrap: wrap;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 1279px) {
  .container {
    width: 99vw;
  }
}

@media screen and (max-width: 1279px) {
  .container {
    max-width: 60vw;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90vw;
  }
}

@media screen and (max-width: 672px) {
  .html {
    height: 100%;
  }
  .main {
    flex-wrap: wrap;
    overflow-y: scroll;
  }
}