@import url(//fonts.googleapis.com/css2?family=Sarpanch:wght@900&display=swap);

* {
	font-family: 'Sarpanch', Verdana, sans-serif;
	color: white;
}

html {
  background-image: url("/assets/ua5splash.png");
  background-color: black;
  background-position: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-size: contain;*/
  background-repeat: no-repeat;
  /*overflow: hidden;*/
}

body {
  height: 100vh;
  margin: 0;
	display: flex;
	align-items: center;
  justify-content: center;
}

.container {
  min-width: 0;
  width: 90vw;
  margin: 0 auto;
  overflow: auto;
}

@media screen and (min-width: 1320px) {
  .container {
    width: 60vw;
  }
}

@media screen and (max-width: 760px) {
  .container {
    width: 97vw;
  }
}