@import url(//fonts.googleapis.com/css2?family=Sarpanch:wght@900&display=swap);

body {
    background-color:black;
    font-family: 'Sarpanch', Verdana, sans-serif;
}

h1 {
    color: white;
}

.center {
  margin: 0 auto;
}

.center-children {
    text-align: center;
}