html, body {
    height: 100%;
    margin: 0;
}

#videoStream {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
  
.box .row {
  border: 1px dotted grey;
}

.box .row.content {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}
  
.box .row.footer {
  flex: 0 1 40px;
}

button {
  position: relative;
  background-color: rgb(236, 24, 255);
  border: none;
  font-size: 24px;
  color: #FFFFFF;
  padding: 5px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

button:hover {
  background-color: rgb(215, 22, 233);
}

button:after {
  content: "";
  background: rgb(160, 17, 173);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}