html, body {
    height: 100%;
    margin: 0;
}

#videoStream {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}

#banner {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    z-index: -1;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
  
.box .row {
  border: 1px dotted grey;
}

.box .row.content {
  flex: 1 1 auto;
  /* The above is shorthand for:
  flex-grow: 1,
  flex-shrink: 1,
  flex-basis: auto
  */
}
  
.box .row.footer {
  flex: 0 1 40px;
}